<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-GLhlTQ8iS6Zu2KZlunL4MFl9J46P4GgMzDAxbl5Fapd8uIlZ6P4gmeEm1b6I5Dj+" crossorigin="anonymous">
    <title>User von Odin</title>
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
<button class="goBack" onclick="goBack()">Zurück</button>

<div class="container mt-5">
    <h1 class="text-center">User</h1>

    <button class="btn btn-primary" data-toggle="modal" data-target="#composeModal">
        <i class="fas fa-feather"></i> Dein Profil bearbeiten
    </button>

    <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="composeModalLabel">Dein Profil bearbeiten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/user" method="post">
                        <div class="form-group">
                            <label for="recipient">Username</label>
                            <input type="text" class="form-control" id="recipient" name="recipient"
                                   placeholder="Username hier eingeben" required value="{{ username.username }}">
                        </div>
                        <div class="form-group">
                            <label for="name">Vorname</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Vorname hier eingeben" required value="{{ selfName }}">
                        </div>

                        <div class="form-group">
                            <label for="surname">Nachname</label>
                            <input type="text" class="form-control" id="surname" name="surname"
                                   placeholder="Nachname hier eingeben" required value="{{ selfSurname }}">
                        </div>

                        <div class="form-group">
                            <label for="age">Geburtsdatum</label>
                            <input type="text" class="form-control" id="age" name="age"
                                   placeholder="Geburtsdatum hier eingeben" required value="{{ selfAge }}">
                        </div>

                        <div class="form-group">
                            <label for="job">Beruf</label>
                            <input type="text" class="form-control" id="job" name="job"
                                   placeholder="Beruf hier eingeben" required value="{{ job }}">
                        </div>

                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h2 class="text-center">Alle Nutzer</h2>
        <ul class="list-group">
            {% for user in username %}
            <li class="list-group-item" data-toggle="collapse" data-target="#userCollapse" aria-expanded="false"
                aria-controls="userCollapse">
                Von: {{ user.username }} | {{ user.profileurl }}
            </li>
            {% endfor %}
            {% for user in username %}
            <div class="collapse" id="userCollapse">
                <div class="card card-body">
                    Username: {{ user.username }}
                    <br>
                    Nachname: {{ user.surname }}
                    <br>
                    Geburtsdatum: {{ user.age }}
                    <br>
                    Beruf: {{ user.job }}
                    <br>
                    {{ user.profileurl }}
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/scripts/user.js"></script>

</body>
</html>
